.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles{
  /* fixed position, everything stays exactly where it is */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* under the layer of everything else */
}